/*BALISES*/
body{
  padding: 0px 15px;
  background-image: url('/assets/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

h1{
  color: red;
  font-family: system-ui;
}

h2{
  font-family: system-ui;
  font-size: 2.5em;
  color:white;
}

h3{
  font-family: system-ui;
  font-size: 1.5em;
}

p {
  font-family: system-ui;
  font-size: 2.5em;
  color: white;
}

label {
  font-family: system-ui;
  font-size: 2.5em;
}

#compteur {
  margin-top:15px;
}

#formulaire {
  position: absolute;
  bottom: 30px;
  width: 95%;
}

#centre_page {
  position: absolute;
  top: 17%;
  width: 95%;
  height: 1050px;
  overflow: scroll;
}

/*CLASSES*/
.logo {
	display:inline;
  margin-left:15%;
  width:70%;
}

.score {
  width:5%;
  margin-left: 35%;
}

.w10 {
  width:12%;
}

.inlin {
  display:inline;
}

.horloge {
  margin-left:10%;
  width:5%;
}
/*  Carte et bouttons*/
.carte {
  margin-top: 10px;
  transition: 0.3s;
  border-radius: 30px;
}

.activ {
  background-color: #5d94f9;
}

.inactiv {
  background-color: grey;
  pointer-events: none;
}

.container {
  padding:10px;
}

#outer {
  width: 80%;
  margin: 5px auto 5px auto;
  text-align: center;
}

.buttons{
  margin:5px;
}

.button_slide {
  border-radius: 10px;
  padding: 5px 5px;
  display: inline-block;
  font-family: system-ui;
  font-size: 2em;
  letter-spacing: 1px;
  box-shadow: inset 400px 0 0 0 #5d94f9;
  color: white;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

/* Bouton indices */
.button_indice {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #5d94f9;
  font-size: 2em;
  text-align: center;
  margin-left:1%;
}

.button_indice_on {
  background-color: #5d94f9;
  color: white;
  font-weight: bold;
}

.result_case {
  color: black;
  border: 5px solid #5d94f9;
  border-radius: 10px;
  padding: 5px 5px;
  display: inline-block;
  font-family: system-ui;
  letter-spacing: 1px;
  font-size: 3em;
}

/*  Popup container */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
}

.popup {
  font-family: Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  }
  
.popup-content {
  text-align: center;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}




/*MASTERMIND*/

/* game board */
table {border-collapse:collapse;}
table td {border:solid 1px #888; padding:4px; text-align:center;font-family: system-ui;font-size: 2em;}
table tr.selected td {background:#cdcdcd;}
table tr.selected td.selected {background:#e8dda5;}
table tr td.valid {display:none;}
table tr.selected td.valid {display:table-cell;}
table tr.win td {background:#43b456;}

.pion {display:inline-block; width:20px; height:20px; border-radius:10px; border:solid 1px #888;}

.correct {display:inline-block; width:10px; height:10px; border-radius:5px; border:solid 1px #888; background:black;}
.misplaced {display:inline-block; width:10px; height:10px; border-radius:5px; border:solid 1px #888;}

/* menu */
.menus .menu {padding:10px 25px; margin:8px; background:#4366b4; color:white; cursor:pointer; width:200px;}

.game {margin: auto;width: 78%;border: 3px solid green;padding: 10px;}









.button-indice-button {
  width:70%;
  text-align: center;
}

.progressbar-wrapper {
  background-color: #dfe6e9;
  color: white;
  border-radius: 15px;
  width: 100%;
}