/*BALISES*/
body{
  padding: 15px;
  background-image: url("/assets/background.png");
  text-align: center;
}

h1{
  color: red;
  font-family: system-ui;
}

h2{
  font-family: system-ui;
  font-size: 2.5em;
}

p {
  font-family: system-ui;
  font-size: 2em;
}

label {
  font-family: system-ui;
  font-size: 2em;
}

/*CLASSES*/
.logo {
	width: 100%;
}

/*  Carte et bouttons*/
.carte {
  margin-top: 10px;
  transition: 0.3s;
  border-radius: 30px;
}

.activ {
  background-color: #fadab4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.inactiv {
  background-color: grey;
  pointer-events: none;
}

.container {
  padding: 2px 16px;
}

#outer {
  width: 80%;
  margin: 5px auto 5px auto;
  text-align: center;
}

.buttons{
  margin:5px;
}

.button_slide {
  border-radius: 10px;
  padding: 5px 5px;
  display: inline-block;
  font-family: system-ui;
  font-size: 2em;
  letter-spacing: 1px;
  box-shadow: inset 400px 0 0 0 #005ca9;
  color: white;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

/*  Popup container */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.popup {
  font-family: Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
.popup-content {
  text-align: center;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

















.result_case {
  box-shadow: inset 400px 0 0 0 #005ca9;
  color: black;
  border: 5px solid #005ca9;
  border-radius: 10px;
  padding: 5px 5px;
  display: inline-block;
  font-family: system-ui;
  font-size: 2em;
  letter-spacing: 1px;
}






.button-indice-button {
  width:70%;
  text-align: center;
}

.progressbar-wrapper {
  background-color: #dfe6e9;
  color: white;
  border-radius: 15px;
  width: 100%;
}

.progressbar {
  background-color: #e17055;
  color: white;
  padding: 1rem;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.progressbar[title="downloading"] {
   background-color: #e17055;
}

.progressbar[title="downloaded"] {
   background-color: #00b894;
}
  
.mp4 {
  width: 100%;
}

.mp3 {
  width: 60%;
}